<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>controller.ConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddVariant</servlet-name>
        <servlet-class>controller.AdminAddVariant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrder</servlet-name>
        <servlet-class>controller.CheckOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAsReceived</servlet-name>
        <servlet-class>controller.ConfirmAsReceived</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>country</param-name>
        <param-value>Vietnam</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>AdminAddItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddVariant</servlet-name>
        <url-pattern>/addVariant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <url-pattern>/register</url-pattern>
        <filter-name>RegisterFilter</filter-name>
    </filter-mapping>
    <filter>
        <filter-name>PermissionFilter1</filter-name>
        <filter-class>filter.PermissionFilter1</filter-class>
    </filter>
    <filter-mapping>
        <url-pattern>/staff</url-pattern>
        <filter-name>PermissionFilter1</filter-name>
    </filter-mapping>
    <filter>
        <filter-name>PermissionFilter2</filter-name>
        <filter-class>filter.PermissionFilter2</filter-class>
    </filter>
    <filter-mapping>
        <url-pattern>/admin</url-pattern>
        <filter-name>PermissionFilter2</filter-name>
    </filter-mapping>
    <context-param>
        <param-name>appName</param-name>
        <param-value>OnmazaEcommerce</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>CheckOrder</servlet-name>
        <url-pattern>/checkOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAsReceived</servlet-name>
        <url-pattern>/received</url-pattern>
    </servlet-mapping>
    <error-page>
         Missing login 
        <error-code>401</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
         Forbidden directory listing 
        <error-code>403</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
         Missing resource 
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
         Uncaught exception 
        <error-code>500</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
         Unsupported servlet method 
        <error-code>503</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
