<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>controller.ConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddVariant</servlet-name>
        <servlet-class>controller.AdminAddVariant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>country</param-name>
        <param-value>Vietnam</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>AdminAddVariant</servlet-name>
        <url-pattern>/addvariant</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <url-pattern>/register</url-pattern>
        <filter-name>RegisterFilter</filter-name>
    </filter-mapping>
    <context-param>
        <param-name>appName</param-name>
        <param-value>OnmazaEcommerce</param-value>
    </context-param>
</web-app>
